<!doctype html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>CD / CoverFlow</title>

  <link rel="stylesheet" href="/public/css/coverflow.css">

    <!-- Modernizr -->
  <script src="/public/js/libs/modernizr.js"></script>
</head>
<body>

 
  <div id="coverflow">
    {{ range .CD }}

      <section data-cover="data:image/jpeg;base64,{{.SDCdCover}}"></section >
      
    {{ end }}
    
  </div>

<nav id="controls">
    Use <a id="prev">left</a> & <a id="next">right</a> arrows 
</nav>

<!-- Javascript  -->
<script src="/public/js/coverflow.js"></script>

<div id="boxG">
  <select onchange="if (this.value) window.location.href=this.value">
    <option value="">Genre:</option>
    {{ range .Gen }}
      <option value="/genre/?g={{.SDId}}">{{.SDGenre}}</option>
    {{ end }}
  </select>  
</div>

<div id="boxA">
  <select onchange="if (this.value) window.location.href=this.value">
    <option value="">Artist:</option>
    {{ range .Art }}
      <option value="/artist/?a={{.SDId}}">{{.SDArtist}}</option>
    {{ end }}
  </select>  
</div>

</body>
</html>
